# SECTION 

# VERITABANLARIYLA ÇALIŞMAK-SQLite

In [15]:
#SQL = ilişkisel veri tabanı dünyadaki en yaygın kullanılanı, oracle
#MySQL = oracle satın aldığı üçretli ve üçretsiz versiyonu olan bir veri tabanı
#SQLite = kurulumu kolay işlevselliği yüksek, sıklıkla kullanılıyor çünkü bir dosya üzerinden çalışabiliyorsunuz.
        # aynı zamanda mobıl vs. gibi ortamlarda da kullanıyor
#MongoDB = NoSQL dediğimiz ilişkisel olmayan veri tabanı var. Büyük verilerde kullanılan. Datalar JSON formatında tutuluyor
#POSTGRESQL= az kullaniliyor

In [16]:
# "SQLite" ile calismak

In [41]:
import sqlite3
connection = sqlite3.connect("chinook.db")
cursor= connection.execute("select* from customers")
for row in cursor:
    print("First Name = " +row[1])

First Name = Luís
First Name = Leonie
First Name = François
First Name = Bjørn
First Name = František
First Name = Helena
First Name = Astrid
First Name = Daan
First Name = Kara
First Name = Eduardo
First Name = Alexandre
First Name = Roberto
First Name = Fernanda
First Name = Mark
First Name = Jennifer
First Name = Frank
First Name = Jack
First Name = Michelle
First Name = Tim
First Name = Dan
First Name = Kathy
First Name = Heather
First Name = John
First Name = Frank
First Name = Victor
First Name = Richard
First Name = Patrick
First Name = Julia
First Name = Robert
First Name = Edward
First Name = Martha
First Name = Aaron
First Name = Ellie
First Name = João
First Name = Madalena
First Name = Hannah
First Name = Fynn
First Name = Niklas
First Name = Camille
First Name = Dominique
First Name = Marc
First Name = Wyatt
First Name = Isabelle
First Name = Terhi
First Name = Ladislav
First Name = Hugh
First Name = Lucas
First Name = Johannes
First Name = Stanisław
First Name = Enrique
First Name = Joakim
First Name = Emma
First Name = Phil
First Name = Steve
First Name = Mark
First Name = Diego
First Name = Luis
First Name = Manoj
First Name = Puja

In [42]:
cursor= connection.execute("select FirstName,LastName from customers")
for row in cursor:
    print("First Name = " +row[0])
    print("Last Name = " +row[1])
    print("*************")

First Name = Luís
Last Name = Gonçalves
*************
First Name = Leonie
Last Name = Köhler
*************
First Name = François
Last Name = Tremblay
*************
First Name = Bjørn
Last Name = Hansen
*************
First Name = František
Last Name = Wichterlová
*************
First Name = Helena
Last Name = Holý
*************
First Name = Astrid
Last Name = Gruber
*************
First Name = Daan
Last Name = Peeters
*************
First Name = Kara
Last Name = Nielsen
*************
First Name = Eduardo
Last Name = Martins
*************
First Name = Alexandre
Last Name = Rocha
*************
First Name = Roberto
Last Name = Almeida
*************
First Name = Fernanda
Last Name = Ramos
*************
First Name = Mark
Last Name = Philips
*************
First Name = Jennifer
Last Name = Peterson
*************
First Name = Frank
Last Name = Harris
*************
First Name = Jack
Last Name = Smith
*************
First Name = Michelle
Last Name = Brooks
*************
First Name = Tim
Last Name = Goyer
*************
First Name = Dan
Last Name = Miller
*************
First Name = Kathy
Last Name = Chase
*************
First Name = Heather
Last Name = Leacock
*************
First Name = John
Last Name = Gordon
*************
First Name = Frank
Last Name = Ralston
*************
First Name = Victor
Last Name = Stevens
*************
First Name = Richard
Last Name = Cunningham
*************
First Name = Patrick
Last Name = Gray
*************
First Name = Julia
Last Name = Barnett
*************
First Name = Robert
Last Name = Brown
*************
First Name = Edward
Last Name = Francis
*************
First Name = Martha
Last Name = Silk
*************
First Name = Aaron
Last Name = Mitchell
*************
First Name = Ellie
Last Name = Sullivan
*************
First Name = João
Last Name = Fernandes
*************
First Name = Madalena
Last Name = Sampaio
*************
First Name = Hannah
Last Name = Schneider
*************
First Name = Fynn
Last Name = Zimmermann
*************
First Name = Niklas
Last Name = Schröder
*************
First Name = Camille
Last Name = Bernard
*************
First Name = Dominique
Last Name = Lefebvre
*************
First Name = Marc
Last Name = Dubois
*************
First Name = Wyatt
Last Name = Girard
*************
First Name = Isabelle
Last Name = Mercier
*************
First Name = Terhi
Last Name = Hämäläinen
*************
First Name = Ladislav
Last Name = Kovács
*************
First Name = Hugh
Last Name = O'Reilly
*************
First Name = Lucas
Last Name = Mancini
*************
First Name = Johannes
Last Name = Van der Berg
*************
First Name = Stanisław
Last Name = Wójcik
*************
First Name = Enrique
Last Name = Muñoz
*************
First Name = Joakim
Last Name = Johansson
*************
First Name = Emma
Last Name = Jones
*************
First Name = Phil
Last Name = Hughes
*************
First Name = Steve
Last Name = Murray
*************
First Name = Mark
Last Name = Taylor
*************
First Name = Diego
Last Name = Gutiérrez
*************
First Name = Luis
Last Name = Rojas
*************
First Name = Manoj
Last Name = Pareek
*************
First Name = Puja
Last Name = Srivastava
*************

In [53]:
# burada 'Prague' string olarak gostermemiz ve tek 'tirnak' icine almamiz gerekiyor.
cursor= connection.execute("""select FirstName,LastName 
                            from customers 
                            where city='Prague'""")
#python da 3 tirnak uygulamasi var """ bu sekilde string alt alta
#yazabiliyorsunuz. Ornekte goruldugu gibi
for row in cursor:
    print("First Name = " +row[0])
    print("Last Name = " +row[1])
    print("*************")

First Name = František
Last Name = Wichterlová
*************
First Name = Helena
Last Name = Holý
*************

In [54]:
# "or" fonksiyonunun kullani mi
cursor= connection.execute("""select FirstName,LastName 
                            from customers where 
                            city='Prague' or city='Berlin'""")
for row in cursor:
    print("First Name = " +row[0])
    print("Last Name = " +row[1])
    print("*************")

First Name = František
Last Name = Wichterlová
*************
First Name = Helena
Last Name = Holý
*************
First Name = Hannah
Last Name = Schneider
*************
First Name = Niklas
Last Name = Schröder
*************

In [55]:
# "orderby" fonksiyonunun kullani mi
#"orderby" ile listeleri A dan Z veya buyukten kucuge dogru siralaya biliyoruz

cursor= connection.execute("""select FirstName,LastName 
                            from customers
                            order by FirstName""")
for row in cursor:
    print("First Name = " +row[0])
    print("Last Name = " +row[1])
    print("*************")

First Name = Aaron
Last Name = Mitchell
*************
First Name = Alexandre
Last Name = Rocha
*************
First Name = Astrid
Last Name = Gruber
*************
First Name = Bjørn
Last Name = Hansen
*************
First Name = Camille
Last Name = Bernard
*************
First Name = Daan
Last Name = Peeters
*************
First Name = Dan
Last Name = Miller
*************
First Name = Diego
Last Name = Gutiérrez
*************
First Name = Dominique
Last Name = Lefebvre
*************
First Name = Eduardo
Last Name = Martins
*************
First Name = Edward
Last Name = Francis
*************
First Name = Ellie
Last Name = Sullivan
*************
First Name = Emma
Last Name = Jones
*************
First Name = Enrique
Last Name = Muñoz
*************
First Name = Fernanda
Last Name = Ramos
*************
First Name = Frank
Last Name = Harris
*************
First Name = Frank
Last Name = Ralston
*************
First Name = František
Last Name = Wichterlová
*************
First Name = François
Last Name = Tremblay
*************
First Name = Fynn
Last Name = Zimmermann
*************
First Name = Hannah
Last Name = Schneider
*************
First Name = Heather
Last Name = Leacock
*************
First Name = Helena
Last Name = Holý
*************
First Name = Hugh
Last Name = O'Reilly
*************
First Name = Isabelle
Last Name = Mercier
*************
First Name = Jack
Last Name = Smith
*************
First Name = Jennifer
Last Name = Peterson
*************
First Name = Joakim
Last Name = Johansson
*************
First Name = Johannes
Last Name = Van der Berg
*************
First Name = John
Last Name = Gordon
*************
First Name = João
Last Name = Fernandes
*************
First Name = Julia
Last Name = Barnett
*************
First Name = Kara
Last Name = Nielsen
*************
First Name = Kathy
Last Name = Chase
*************
First Name = Ladislav
Last Name = Kovács
*************
First Name = Leonie
Last Name = Köhler
*************
First Name = Lucas
Last Name = Mancini
*************
First Name = Luis
Last Name = Rojas
*************
First Name = Luís
Last Name = Gonçalves
*************
First Name = Madalena
Last Name = Sampaio
*************
First Name = Manoj
Last Name = Pareek
*************
First Name = Marc
Last Name = Dubois
*************
First Name = Mark
Last Name = Philips
*************
First Name = Mark
Last Name = Taylor
*************
First Name = Martha
Last Name = Silk
*************
First Name = Michelle
Last Name = Brooks
*************
First Name = Niklas
Last Name = Schröder
*************
First Name = Patrick
Last Name = Gray
*************
First Name = Phil
Last Name = Hughes
*************
First Name = Puja
Last Name = Srivastava
*************
First Name = Richard
Last Name = Cunningham
*************
First Name = Robert
Last Name = Brown
*************
First Name = Roberto
Last Name = Almeida
*************
First Name = Stanisław
Last Name = Wójcik
*************
First Name = Steve
Last Name = Murray
*************
First Name = Terhi
Last Name = Hämäläinen
*************
First Name = Tim
Last Name = Goyer
*************
First Name = Victor
Last Name = Stevens
*************
First Name = Wyatt
Last Name = Girard
*************

In [56]:
# "orderby" fonksiyonunu sondan baslayarak siralamak icin 
# "desc" fonksiyonunu kullaniyoruz.

cursor= connection.execute("""select FirstName,LastName 
                            from customers
                            order by FirstName desc""")
for row in cursor:
    print("First Name = " +row[0])
    print("Last Name = " +row[1])
    print("*************")

First Name = Wyatt
Last Name = Girard
*************
First Name = Victor
Last Name = Stevens
*************
First Name = Tim
Last Name = Goyer
*************
First Name = Terhi
Last Name = Hämäläinen
*************
First Name = Steve
Last Name = Murray
*************
First Name = Stanisław
Last Name = Wójcik
*************
First Name = Roberto
Last Name = Almeida
*************
First Name = Robert
Last Name = Brown
*************
First Name = Richard
Last Name = Cunningham
*************
First Name = Puja
Last Name = Srivastava
*************
First Name = Phil
Last Name = Hughes
*************
First Name = Patrick
Last Name = Gray
*************
First Name = Niklas
Last Name = Schröder
*************
First Name = Michelle
Last Name = Brooks
*************
First Name = Martha
Last Name = Silk
*************
First Name = Mark
Last Name = Philips
*************
First Name = Mark
Last Name = Taylor
*************
First Name = Marc
Last Name = Dubois
*************
First Name = Manoj
Last Name = Pareek
*************
First Name = Madalena
Last Name = Sampaio
*************
First Name = Luís
Last Name = Gonçalves
*************
First Name = Luis
Last Name = Rojas
*************
First Name = Lucas
Last Name = Mancini
*************
First Name = Leonie
Last Name = Köhler
*************
First Name = Ladislav
Last Name = Kovács
*************
First Name = Kathy
Last Name = Chase
*************
First Name = Kara
Last Name = Nielsen
*************
First Name = Julia
Last Name = Barnett
*************
First Name = João
Last Name = Fernandes
*************
First Name = John
Last Name = Gordon
*************
First Name = Johannes
Last Name = Van der Berg
*************
First Name = Joakim
Last Name = Johansson
*************
First Name = Jennifer
Last Name = Peterson
*************
First Name = Jack
Last Name = Smith
*************
First Name = Isabelle
Last Name = Mercier
*************
First Name = Hugh
Last Name = O'Reilly
*************
First Name = Helena
Last Name = Holý
*************
First Name = Heather
Last Name = Leacock
*************
First Name = Hannah
Last Name = Schneider
*************
First Name = Fynn
Last Name = Zimmermann
*************
First Name = François
Last Name = Tremblay
*************
First Name = František
Last Name = Wichterlová
*************
First Name = Frank
Last Name = Harris
*************
First Name = Frank
Last Name = Ralston
*************
First Name = Fernanda
Last Name = Ramos
*************
First Name = Enrique
Last Name = Muñoz
*************
First Name = Emma
Last Name = Jones
*************
First Name = Ellie
Last Name = Sullivan
*************
First Name = Edward
Last Name = Francis
*************
First Name = Eduardo
Last Name = Martins
*************
First Name = Dominique
Last Name = Lefebvre
*************
First Name = Diego
Last Name = Gutiérrez
*************
First Name = Dan
Last Name = Miller
*************
First Name = Daan
Last Name = Peeters
*************
First Name = Camille
Last Name = Bernard
*************
First Name = Bjørn
Last Name = Hansen
*************
First Name = Astrid
Last Name = Gruber
*************
First Name = Alexandre
Last Name = Rocha
*************
First Name = Aaron
Last Name = Mitchell
*************

In [60]:
#"Group by" fonksiyonun kullanimi

cursor= connection.execute("""select city, count (*) 
                            from customers group by city""")
for row in cursor:
    print("City = " +row[0])
    print("Count = " +str(row[1]))
    print("*************")

City = Amsterdam
Count = 1
*************
City = Bangalore
Count = 1
*************
City = Berlin
Count = 2
*************
City = Bordeaux
Count = 1
*************
City = Boston
Count = 1
*************
City = Brasília
Count = 1
*************
City = Brussels
Count = 1
*************
City = Budapest
Count = 1
*************
City = Buenos Aires
Count = 1
*************
City = Chicago
Count = 1
*************
City = Copenhagen
Count = 1
*************
City = Cupertino
Count = 1
*************
City = Delhi
Count = 1
*************
City = Dijon
Count = 1
*************
City = Dublin
Count = 1
*************
City = Edinburgh
Count = 1
*************
City = Edmonton
Count = 1
*************
City = Fort Worth
Count = 1
*************
City = Frankfurt
Count = 1
*************
City = Halifax
Count = 1
*************
City = Helsinki
Count = 1
*************
City = Lisbon
Count = 1
*************
City = London
Count = 2
*************
City = Lyon
Count = 1
*************
City = Madison
Count = 1
*************
City = Madrid
Count = 1
*************
City = Montréal
Count = 1
*************
City = Mountain View
Count = 2
*************
City = New York
Count = 1
*************
City = Orlando
Count = 1
*************
City = Oslo
Count = 1
*************
City = Ottawa
Count = 1
*************
City = Paris
Count = 2
*************
City = Porto
Count = 1
*************
City = Prague
Count = 2
*************
City = Redmond
Count = 1
*************
City = Reno
Count = 1
*************
City = Rio de Janeiro
Count = 1
*************
City = Rome
Count = 1
*************
City = Salt Lake City
Count = 1
*************
City = Santiago
Count = 1
*************
City = Sidney
Count = 1
*************
City = Stockholm
Count = 1
*************
City = Stuttgart
Count = 1
*************
City = São José dos Campos
Count = 1
*************
City = São Paulo
Count = 2
*************
City = Toronto
Count = 1
*************
City = Tucson
Count = 1
*************
City = Vancouver
Count = 1
*************
City = Vienne
Count = 1
*************
City = Warsaw
Count = 1
*************
City = Winnipeg
Count = 1
*************
City = Yellowknife
Count = 1
*************

In [65]:
#"Group by" fonksiyonun "order by" ile birlikte kullanimi

cursor= connection.execute("""select city, count (*) 
                            from customers group by city order by count(*)desc""")
for row in cursor:
    print("City = " +row[0])
    print("Count = " +str(row[1]))
    print("*************")

City = Berlin
Count = 2
*************
City = London
Count = 2
*************
City = Mountain View
Count = 2
*************
City = Paris
Count = 2
*************
City = Prague
Count = 2
*************
City = São Paulo
Count = 2
*************
City = Amsterdam
Count = 1
*************
City = Bangalore
Count = 1
*************
City = Bordeaux
Count = 1
*************
City = Boston
Count = 1
*************
City = Brasília
Count = 1
*************
City = Brussels
Count = 1
*************
City = Budapest
Count = 1
*************
City = Buenos Aires
Count = 1
*************
City = Chicago
Count = 1
*************
City = Copenhagen
Count = 1
*************
City = Cupertino
Count = 1
*************
City = Delhi
Count = 1
*************
City = Dijon
Count = 1
*************
City = Dublin
Count = 1
*************
City = Edinburgh
Count = 1
*************
City = Edmonton
Count = 1
*************
City = Fort Worth
Count = 1
*************
City = Frankfurt
Count = 1
*************
City = Halifax
Count = 1
*************
City = Helsinki
Count = 1
*************
City = Lisbon
Count = 1
*************
City = Lyon
Count = 1
*************
City = Madison
Count = 1
*************
City = Madrid
Count = 1
*************
City = Montréal
Count = 1
*************
City = New York
Count = 1
*************
City = Orlando
Count = 1
*************
City = Oslo
Count = 1
*************
City = Ottawa
Count = 1
*************
City = Porto
Count = 1
*************
City = Redmond
Count = 1
*************
City = Reno
Count = 1
*************
City = Rio de Janeiro
Count = 1
*************
City = Rome
Count = 1
*************
City = Salt Lake City
Count = 1
*************
City = Santiago
Count = 1
*************
City = Sidney
Count = 1
*************
City = Stockholm
Count = 1
*************
City = Stuttgart
Count = 1
*************
City = São José dos Campos
Count = 1
*************
City = Toronto
Count = 1
*************
City = Tucson
Count = 1
*************
City = Vancouver
Count = 1
*************
City = Vienne
Count = 1
*************
City = Warsaw
Count = 1
*************
City = Winnipeg
Count = 1
*************
City = Yellowknife
Count = 1
*************

In [66]:
#"Group by" fonksiyonun nun "having" order by" ile birlikte kullanimi
# bu sorguda sunu soylemis oluyoruz. Sehre gore groupla sayisi 1 den buyuk olanlari ver.
cursor= connection.execute("""select city, count (*) 
                            from customers group by city having count(*)>1 
                            order by count (*) desc""")
for row in cursor:
    print("City = " +row[0])
    print("Count = " +str(row[1]))
    print("*************")

City = Berlin
Count = 2
*************
City = London
Count = 2
*************
City = Mountain View
Count = 2
*************
City = Paris
Count = 2
*************
City = Prague
Count = 2
*************
City = São Paulo
Count = 2
*************

In [76]:
#"Like" fonksiyonun kullanimi gibi 
# bu sorguda icinde "%a%" gecen isimler demek.
cursor= connection.execute("""select FirstName,LastName 
                            from customers
                            where FirstName like '%a%'""")
for row in cursor:
    print("FirstName = " +row[0])
    print("LastName = " +row[1])
    print("*************")

FirstName = Astrid
LastName = Gruber
*************
FirstName = Alexandre
LastName = Rocha
*************
FirstName = Aaron
LastName = Mitchell
*************

In [78]:
#"Like" fonksiyonun kullanimi gibi 
# bu sorguda "a%" ismi "a" ile baslayanlar demek.
cursor= connection.execute("""select FirstName,LastName 
                            from customers
                            where FirstName like 'a%'""")
for row in cursor:
    print("FirstName = " +row[0])
    print("LastName = " +row[1])
    print("*************")

FirstName = Astrid
LastName = Gruber
*************
FirstName = Alexandre
LastName = Rocha
*************
FirstName = Aaron
LastName = Mitchell
*************

In [79]:
#"Like" fonksiyonun kullanimi gibi 
# bu sorguda "%a" ismi "a" ile bitenler demek.
cursor= connection.execute("""select FirstName,LastName 
                            from customers
                            where FirstName like '%a'""")
for row in cursor:
    print("FirstName = " +row[0])
    print("LastName = " +row[1])
    print("*************")

FirstName = Helena
LastName = Holý
*************
FirstName = Kara
LastName = Nielsen
*************
FirstName = Fernanda
LastName = Ramos
*************
FirstName = Julia
LastName = Barnett
*************
FirstName = Martha
LastName = Silk
*************
FirstName = Madalena
LastName = Sampaio
*************
FirstName = Emma
LastName = Jones
*************
FirstName = Puja
LastName = Srivastava
*************

In [80]:
#"Like" fonksiyonun kullanimi gibi 
# bu sorguda "%ja" ismi "a" ile bitenler demek.
#yani birden cok degerde verilebilir
cursor= connection.execute("""select FirstName,LastName 
                            from customers
                            where FirstName like '%ja'""")
for row in cursor:
    print("FirstName = " +row[0])
    print("LastName = " +row[1])
    print("*************")

FirstName = Puja
LastName = Srivastava
*************

In [88]:
#"insert" listeye yeni bir bilgi eklemek icin kullaniyoruz

def insertCustomer():
    connection = sqlite3.connect("chinook.db")
    connection.execute("""insert into customers (FirstName,LastName,city,email)
                        values('Fatih','Sayin','Samsun','fmsayin@hotmail.com')""")
    connection.commit()
insertCustomer()

In [90]:
#burada da goruldugu gibi "fatih" ismi bizim db listesine ekelenmis
cursor= connection.execute("""select FirstName,LastName 
                            from customers
                            where FirstName like 'fatih'""")
for row in cursor:
    print("FirstName = " +row[0])
    print("LastName = " +row[1])
    print("*************")

FirstName = Fatih
LastName = Sayin
*************
FirstName = Fatih
LastName = Sayin
*************
FirstName = Fatih
LastName = Sayin
*************
FirstName = Fatih
LastName = Sayin
*************

In [99]:
#"update" Guncelleme yapmak icin kullaniyoruz
#"insert" listeye yeni bir bilgi eklemek icin kullaniyoruz

def updateCustomer():
    connection = sqlite3.connect("chinook.db")
    connection.execute("""update customers set city= 'istanbul'
                        where city= 'Samsun'""")
    connection.commit()
    
updateCustomer()

In [105]:
#burada da goruldugu gibi "istanbul" ismi "samsun" yerine listede guncellenmis
cursor= connection.execute("""select city
                            from customers
                            where city like 'istanbul'""")
for row in cursor:
    print("city = " +row[0])
#     print("city = " +row[1])
    print("*************")

city = istanbul
*************
city = istanbul
*************
city = istanbul
*************
city = istanbul
*************

In [113]:
#"delete" fonksiyonunun kullanimi
# db. gidip baktigimizda var olan "63" nolu "id" nin silindigini goruruz
def deleteCustomer():
    connection = sqlite3.connect("chinook.db")
    connection.execute("delete from customers where customerid=63")
    
    connection.commit()
    
deleteCustomer()

In [115]:
#"delete" fonksiyonunun kullanimi
# db. gidip baktigimizda var olan "istanbul" isimli sehirlerin silindigini goruruz
def deleteCustomer():
    connection = sqlite3.connect("chinook.db")
    connection.execute("delete from customers where city='istanbul'")
    
    connection.commit()
    
deleteCustomer()

In [121]:
#"join" fonksiyonunun kullanimi
def joinOperasyonlari():
    connection = sqlite3.connect("chinook.db")
    cursor= connection.execute("""select albums.Title,
                            artists.Name from artists 
                            inner join albums
                            on artists.ArtistId=albums.ArtistId""")
    for row in cursor:
        print("Title = "+row[0]+" Name = "+row[1])

joinOperasyonlari()

Title = For Those About To Rock We Salute You Name = AC/DC
Title = Balls to the Wall Name = Accept
Title = Restless and Wild Name = Accept
Title = Let There Be Rock Name = AC/DC
Title = Big Ones Name = Aerosmith
Title = Jagged Little Pill Name = Alanis Morissette
Title = Facelift Name = Alice In Chains
Title = Warner 25 Anos Name = Antônio Carlos Jobim
Title = Plays Metallica By Four Cellos Name = Apocalyptica
Title = Audioslave Name = Audioslave
Title = Out Of Exile Name = Audioslave
Title = BackBeat Soundtrack Name = BackBeat
Title = The Best Of Billy Cobham Name = Billy Cobham
Title = Alcohol Fueled Brewtality Live! [Disc 1] Name = Black Label Society
Title = Alcohol Fueled Brewtality Live! [Disc 2] Name = Black Label Society
Title = Black Sabbath Name = Black Sabbath
Title = Black Sabbath Vol. 4 (Remaster) Name = Black Sabbath
Title = Body Count Name = Body Count
Title = Chemical Wedding Name = Bruce Dickinson
Title = The Best Of Buddy Guy - The Millenium Collection Name = Buddy Guy
Title = Prenda Minha Name = Caetano Veloso
Title = Sozinho Remix Ao Vivo Name = Caetano Veloso
Title = Minha Historia Name = Chico Buarque
Title = Afrociberdelia Name = Chico Science & Nação Zumbi
Title = Da Lama Ao Caos Name = Chico Science & Nação Zumbi
Title = Acústico MTV [Live] Name = Cidade Negra
Title = Cidade Negra - Hits Name = Cidade Negra
Title = Na Pista Name = Cláudio Zoli
Title = Axé Bahia 2001 Name = Various Artists
Title = BBC Sessions [Disc 1] [Live] Name = Led Zeppelin
Title = Bongo Fury Name = Frank Zappa & Captain Beefheart
Title = Carnaval 2001 Name = Various Artists
Title = Chill: Brazil (Disc 1) Name = Marcos Valle
Title = Chill: Brazil (Disc 2) Name = Antônio Carlos Jobim
Title = Garage Inc. (Disc 1) Name = Metallica
Title = Greatest Hits II Name = Queen
Title = Greatest Kiss Name = Kiss
Title = Heart of the Night Name = Spyro Gyra
Title = International Superhits Name = Green Day
Title = Into The Light Name = David Coverdale
Title = Meus Momentos Name = Gonzaguinha
Title = Minha História Name = Os Mutantes
Title = MK III The Final Concerts [Disc 1] Name = Deep Purple
Title = Physical Graffiti [Disc 1] Name = Led Zeppelin
Title = Sambas De Enredo 2001 Name = Various Artists
Title = Supernatural Name = Santana
Title = The Best of Ed Motta Name = Ed Motta
Title = The Essential Miles Davis [Disc 1] Name = Miles Davis
Title = The Essential Miles Davis [Disc 2] Name = Miles Davis
Title = The Final Concerts (Disc 2) Name = Deep Purple
Title = Up An' Atom Name = Gene Krupa
Title = Vinícius De Moraes - Sem Limite Name = Toquinho & Vinícius
Title = Vozes do MPB Name = Various Artists
Title = Chronicle, Vol. 1 Name = Creedence Clearwater Revival
Title = Chronicle, Vol. 2 Name = Creedence Clearwater Revival
Title = Cássia Eller - Coleção Sem Limite [Disc 2] Name = Cássia Eller
Title = Cássia Eller - Sem Limite [Disc 1] Name = Cássia Eller
Title = Come Taste The Band Name = Deep Purple
Title = Deep Purple In Rock Name = Deep Purple
Title = Fireball Name = Deep Purple
Title = Knocking at Your Back Door: The Best Of Deep Purple in the 80's Name = Deep Purple
Title = Machine Head Name = Deep Purple
Title = Purpendicular Name = Deep Purple
Title = Slaves And Masters Name = Deep Purple
Title = Stormbringer Name = Deep Purple
Title = The Battle Rages On Name = Deep Purple
Title = Vault: Def Leppard's Greatest Hits Name = Def Leppard
Title = Outbreak Name = Dennis Chambers
Title = Djavan Ao Vivo - Vol. 02 Name = Djavan
Title = Djavan Ao Vivo - Vol. 1 Name = Djavan
Title = Elis Regina-Minha História Name = Elis Regina
Title = The Cream Of Clapton Name = Eric Clapton
Title = Unplugged Name = Eric Clapton
Title = Album Of The Year Name = Faith No More
Title = Angel Dust Name = Faith No More
Title = King For A Day Fool For A Lifetime Name = Faith No More
Title = The Real Thing Name = Faith No More
Title = Deixa Entrar Name = Falamansa
Title = In Your Honor [Disc 1] Name = Foo Fighters
Title = In Your Honor [Disc 2] Name = Foo Fighters
Title = One By One Name = Foo Fighters
Title = The Colour And The Shape Name = Foo Fighters
Title = My Way: The Best Of Frank Sinatra [Disc 1] Name = Frank Sinatra
Title = Roda De Funk Name = Funk Como Le Gusta
Title = As Canções de Eu Tu Eles Name = Gilberto Gil
Title = Quanta Gente Veio Ver (Live) Name = Gilberto Gil
Title = Quanta Gente Veio ver--Bônus De Carnaval Name = Gilberto Gil
Title = Faceless Name = Godsmack
Title = American Idiot Name = Green Day
Title = Appetite for Destruction Name = Guns N' Roses
Title = Use Your Illusion I Name = Guns N' Roses
Title = Use Your Illusion II Name = Guns N' Roses
Title = Blue Moods Name = Incognito
Title = A Matter of Life and Death Name = Iron Maiden
Title = A Real Dead One Name = Iron Maiden
Title = A Real Live One Name = Iron Maiden
Title = Brave New World Name = Iron Maiden
Title = Dance Of Death Name = Iron Maiden
Title = Fear Of The Dark Name = Iron Maiden
Title = Iron Maiden Name = Iron Maiden
Title = Killers Name = Iron Maiden
Title = Live After Death Name = Iron Maiden
Title = Live At Donington 1992 (Disc 1) Name = Iron Maiden
Title = Live At Donington 1992 (Disc 2) Name = Iron Maiden
Title = No Prayer For The Dying Name = Iron Maiden
Title = Piece Of Mind Name = Iron Maiden
Title = Powerslave Name = Iron Maiden
Title = Rock In Rio [CD1] Name = Iron Maiden
Title = Rock In Rio [CD2] Name = Iron Maiden
Title = Seventh Son of a Seventh Son Name = Iron Maiden
Title = Somewhere in Time Name = Iron Maiden
Title = The Number of The Beast Name = Iron Maiden
Title = The X Factor Name = Iron Maiden
Title = Virtual XI Name = Iron Maiden
Title = Sex Machine Name = James Brown
Title = Emergency On Planet Earth Name = Jamiroquai
Title = Synkronized Name = Jamiroquai
Title = The Return Of The Space Cowboy Name = Jamiroquai
Title = Get Born Name = JET
Title = Are You Experienced? Name = Jimi Hendrix
Title = Surfing with the Alien (Remastered) Name = Joe Satriani
Title = Jorge Ben Jor 25 Anos Name = Jorge Ben
Title = Jota Quest-1995 Name = Jota Quest
Title = Cafezinho Name = João Suplicy
Title = Living After Midnight Name = Judas Priest
Title = Unplugged [Live] Name = Kiss
Title = BBC Sessions [Disc 2] [Live] Name = Led Zeppelin
Title = Coda Name = Led Zeppelin
Title = Houses Of The Holy Name = Led Zeppelin
Title = In Through The Out Door Name = Led Zeppelin
Title = IV Name = Led Zeppelin
Title = Led Zeppelin I Name = Led Zeppelin
Title = Led Zeppelin II Name = Led Zeppelin
Title = Led Zeppelin III Name = Led Zeppelin
Title = Physical Graffiti [Disc 2] Name = Led Zeppelin
Title = Presence Name = Led Zeppelin
Title = The Song Remains The Same (Disc 1) Name = Led Zeppelin
Title = The Song Remains The Same (Disc 2) Name = Led Zeppelin
Title = A TempestadeTempestade Ou O Livro Dos Dias Name = Legião Urbana
Title = Mais Do Mesmo Name = Legião Urbana
Title = Greatest Hits Name = Lenny Kravitz
Title = Lulu Santos - RCA 100 Anos De Música - Álbum 01 Name = Lulu Santos
Title = Lulu Santos - RCA 100 Anos De Música - Álbum 02 Name = Lulu Santos
Title = Misplaced Childhood Name = Marillion
Title = Barulhinho Bom Name = Marisa Monte
Title = Seek And Shall Find: More Of The Best (1963-1981) Name = Marvin Gaye
Title = The Best Of Men At Work Name = Men At Work
Title = Black Album Name = Metallica
Title = Garage Inc. (Disc 2) Name = Metallica
Title = Kill 'Em All Name = Metallica
Title = Load Name = Metallica
Title = Master Of Puppets Name = Metallica
Title = ReLoad Name = Metallica
Title = Ride The Lightning Name = Metallica
Title = St. Anger Name = Metallica
Title = ...And Justice For All Name = Metallica
Title = Miles Ahead Name = Miles Davis
Title = Milton Nascimento Ao Vivo Name = Milton Nascimento
Title = Minas Name = Milton Nascimento
Title = Ace Of Spades Name = Motörhead
Title = Demorou... Name = Mônica Marianno
Title = Motley Crue Greatest Hits Name = Mötley Crüe
Title = From The Muddy Banks Of The Wishkah [Live] Name = Nirvana
Title = Nevermind Name = Nirvana
Title = Compositores Name = O Terço
Title = Olodum Name = Olodum
Title = Acústico MTV Name = Os Paralamas Do Sucesso
Title = Arquivo II Name = Os Paralamas Do Sucesso
Title = Arquivo Os Paralamas Do Sucesso Name = Os Paralamas Do Sucesso
Title = Bark at the Moon (Remastered) Name = Ozzy Osbourne
Title = Blizzard of Ozz Name = Ozzy Osbourne
Title = Diary of a Madman (Remastered) Name = Ozzy Osbourne
Title = No More Tears (Remastered) Name = Ozzy Osbourne
Title = Tribute Name = Ozzy Osbourne
Title = Walking Into Clarksdale Name = Page & Plant
Title = Original Soundtracks 1 Name = Passengers
Title = The Beast Live Name = Paul D'Ianno
Title = Live On Two Legs [Live] Name = Pearl Jam
Title = Pearl Jam Name = Pearl Jam
Title = Riot Act Name = Pearl Jam
Title = Ten Name = Pearl Jam
Title = Vs. Name = Pearl Jam
Title = Dark Side Of The Moon Name = Pink Floyd
Title = Os Cães Ladram Mas A Caravana Não Pára Name = Planet Hemp
Title = Greatest Hits I Name = Queen
Title = News Of The World Name = Queen
Title = Out Of Time Name = R.E.M. Feat. Kate Pearson
Title = Green Name = R.E.M.
Title = New Adventures In Hi-Fi Name = R.E.M.
Title = The Best Of R.E.M.: The IRS Years Name = R.E.M.
Title = Cesta Básica Name = Raimundos
Title = Raul Seixas Name = Raul Seixas
Title = Blood Sugar Sex Magik Name = Red Hot Chili Peppers
Title = By The Way Name = Red Hot Chili Peppers
Title = Californication Name = Red Hot Chili Peppers
Title = Retrospective I (1974-1980) Name = Rush
Title = Santana - As Years Go By Name = Santana
Title = Santana Live Name = Santana
Title = Maquinarama Name = Skank
Title = O Samba Poconé Name = Skank
Title = Judas 0: B-Sides and Rarities Name = Smashing Pumpkins
Title = Rotten Apples: Greatest Hits Name = Smashing Pumpkins
Title = A-Sides Name = Soundgarden
Title = Morning Dance Name = Spyro Gyra
Title = In Step Name = Stevie Ray Vaughan & Double Trouble
Title = Core Name = Stone Temple Pilots
Title = Mezmerize Name = System Of A Down
Title = [1997] Black Light Syndrome Name = Terry Bozzio, Tony Levin & Steve Stevens
Title = Live [Disc 1] Name = The Black Crowes
Title = Live [Disc 2] Name = The Black Crowes
Title = The Singles Name = The Clash
Title = Beyond Good And Evil Name = The Cult
Title = Pure Cult: The Best Of The Cult (For Rockers, Ravers, Lovers & Sinners) [UK] Name = The Cult
Title = The Doors Name = The Doors
Title = The Police Greatest Hits Name = The Police
Title = Hot Rocks, 1964-1971 (Disc 1) Name = The Rolling Stones
Title = No Security Name = The Rolling Stones
Title = Voodoo Lounge Name = The Rolling Stones
Title = Tangents Name = The Tea Party
Title = Transmission Name = The Tea Party
Title = My Generation - The Very Best Of The Who Name = The Who
Title = Serie Sem Limite (Disc 1) Name = Tim Maia
Title = Serie Sem Limite (Disc 2) Name = Tim Maia
Title = Acústico Name = Titãs
Title = Volume Dois Name = Titãs
Title = Battlestar Galactica: The Story So Far Name = Battlestar Galactica
Title = Battlestar Galactica, Season 3 Name = Battlestar Galactica
Title = Heroes, Season 1 Name = Heroes
Title = Lost, Season 3 Name = Lost
Title = Lost, Season 1 Name = Lost
Title = Lost, Season 2 Name = Lost
Title = Achtung Baby Name = U2
Title = All That You Can't Leave Behind Name = U2
Title = B-Sides 1980-1990 Name = U2
Title = How To Dismantle An Atomic Bomb Name = U2
Title = Pop Name = U2
Title = Rattle And Hum Name = U2
Title = The Best Of 1980-1990 Name = U2
Title = War Name = U2
Title = Zooropa Name = U2
Title = UB40 The Best Of - Volume Two [UK] Name = UB40
Title = Diver Down Name = Van Halen
Title = The Best Of Van Halen, Vol. I Name = Van Halen
Title = Van Halen Name = Van Halen
Title = Van Halen III Name = Van Halen
Title = Contraband Name = Velvet Revolver
Title = Vinicius De Moraes Name = Vinícius De Moraes
Title = Ao Vivo [IMPORT] Name = Zeca Pagodinho
Title = The Office, Season 1 Name = The Office
Title = The Office, Season 2 Name = The Office
Title = The Office, Season 3 Name = The Office
Title = Un-Led-Ed Name = Dread Zeppelin
Title = Battlestar Galactica (Classic), Season 1 Name = Battlestar Galactica (Classic)
Title = Aquaman Name = Aquaman
Title = Instant Karma: The Amnesty International Campaign to Save Darfur Name = U2
Title = Speak of the Devil Name = Ozzy Osbourne
Title = 20th Century Masters - The Millennium Collection: The Best of Scorpions Name = Scorpions
Title = House of Pain Name = House Of Pain
Title = Radio Brasil (O Som da Jovem Vanguarda) - Seleccao de Henrique Amaro Name = O Rappa
Title = Cake: B-Sides and Rarities Name = Cake
Title = LOST, Season 4 Name = Lost
Title = Quiet Songs Name = Aisha Duo
Title = Muso Ko Name = Habib Koité and Bamada
Title = Realize Name = Karsh Kale
Title = Every Kind of Light Name = The Posies
Title = Duos II Name = Luciana Souza/Romero Lubambo
Title = Worlds Name = Aaron Goldberg
Title = The Best of Beethoven Name = Nicolaus Esterhazy Sinfonia
Title = Temple of the Dog Name = Temple of the Dog
Title = Carry On Name = Chris Cornell
Title = Revelations Name = Audioslave
Title = Adorate Deum: Gregorian Chant from the Proper of the Mass Name = Alberto Turco & Nova Schola Gregoriana
Title = Allegri: Miserere Name = Richard Marlow & The Choir of Trinity College, Cambridge
Title = Pachelbel: Canon & Gigue Name = English Concert & Trevor Pinnock
Title = Vivaldi: The Four Seasons Name = Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker
Title = Bach: Violin Concertos Name = Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer
Title = Bach: Goldberg Variations Name = Wilhelm Kempff
Title = Bach: The Cello Suites Name = Yo-Yo Ma
Title = Handel: The Messiah (Highlights) Name = Scholars Baroque Ensemble
Title = The World of Classical Favourites Name = Academy of St. Martin in the Fields & Sir Neville Marriner
Title = Sir Neville Marriner: A Celebration Name = Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner
Title = Mozart: Wind Concertos Name = Berliner Philharmoniker, Claudio Abbado & Sabine Meyer
Title = Haydn: Symphonies 99 - 104 Name = Royal Philharmonic Orchestra & Sir Thomas Beecham
Title = Beethoven: Symhonies Nos. 5 & 6 Name = Orchestre Révolutionnaire et Romantique & John Eliot Gardiner
Title = A Soprano Inspired Name = Britten Sinfonia, Ivor Bolton & Lesley Garrett
Title = Great Opera Choruses Name = Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti
Title = Wagner: Favourite Overtures Name = Sir Georg Solti & Wiener Philharmoniker
Title = Fauré: Requiem, Ravel: Pavane & Others Name = Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair
Title = Tchaikovsky: The Nutcracker Name = London Symphony Orchestra & Sir Charles Mackerras
Title = The Last Night of the Proms Name = Barry Wordsworth & BBC Concert Orchestra
Title = Puccini: Madama Butterfly - Highlights Name = Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker
Title = Holst: The Planets, Op. 32 & Vaughan Williams: Fantasies Name = Eugene Ormandy
Title = Pavarotti's Opera Made Easy Name = Luciano Pavarotti
Title = Great Performances - Barber's Adagio and Other Romantic Favorites for Strings Name = Leonard Bernstein & New York Philharmonic
Title = Carmina Burana Name = Boston Symphony Orchestra & Seiji Ozawa
Title = A Copland Celebration, Vol. I Name = Aaron Copland & London Symphony Orchestra
Title = Bach: Toccata & Fugue in D Minor Name = Ton Koopman
Title = Prokofiev: Symphony No.1 Name = Sergei Prokofiev & Yuri Temirkanov
Title = Scheherazade Name = Chicago Symphony Orchestra & Fritz Reiner
Title = Bach: The Brandenburg Concertos Name = Orchestra of The Age of Enlightenment
Title = Chopin: Piano Concertos Nos. 1 & 2 Name = Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra
Title = Mascagni: Cavalleria Rusticana Name = James Levine
Title = Sibelius: Finlandia Name = Berliner Philharmoniker & Hans Rosbaud
Title = Beethoven Piano Sonatas: Moonlight & Pastorale Name = Maurizio Pollini
Title = Great Recordings of the Century - Mahler: Das Lied von der Erde Name = Gustav Mahler
Title = Elgar: Cello Concerto & Vaughan Williams: Fantasias Name = Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos
Title = Adams, John: The Chairman Dances Name = Edo de Waart & San Francisco Symphony
Title = Tchaikovsky: 1812 Festival Overture, Op.49, Capriccio Italien & Beethoven: Wellington's Victory Name = Antal Doráti & London Symphony Orchestra
Title = Palestrina: Missa Papae Marcelli & Allegri: Miserere Name = Choir Of Westminster Abbey & Simon Preston
Title = Prokofiev: Romeo & Juliet Name = Michael Tilson Thomas & San Francisco Symphony
Title = Strauss: Waltzes Name = Eugene Ormandy
Title = Berlioz: Symphonie Fantastique Name = Michael Tilson Thomas & San Francisco Symphony
Title = Bizet: Carmen Highlights Name = Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker
Title = English Renaissance Name = The King's Singers
Title = Handel: Music for the Royal Fireworks (Original Version 1749) Name = English Concert & Trevor Pinnock
Title = Grieg: Peer Gynt Suites & Sibelius: Pelléas et Mélisande Name = Berliner Philharmoniker & Herbert Von Karajan
Title = Mozart Gala: Famous Arias Name = Sir Georg Solti, Sumi Jo & Wiener Philharmoniker
Title = SCRIABIN: Vers la flamme Name = Christopher O'Riley
Title = Armada: Music from the Courts of England and Spain Name = Fretwork
Title = Mozart: Symphonies Nos. 40 & 41 Name = Berliner Philharmoniker & Herbert Von Karajan
Title = Back to Black Name = Amy Winehouse
Title = Frank Name = Amy Winehouse
Title = Carried to Dust (Bonus Track Version) Name = Calexico
Title = Beethoven: Symphony No. 6 'Pastoral' Etc. Name = Otto Klemperer & Philharmonia Orchestra
Title = Bartok: Violin & Viola Concertos Name = Yehudi Menuhin
Title = Mendelssohn: A Midsummer Night's Dream Name = Philharmonia Orchestra & Sir Neville Marriner
Title = Bach: Orchestral Suites Nos. 1 - 4 Name = Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart
Title = Charpentier: Divertissements, Airs & Concerts Name = Les Arts Florissants & William Christie
Title = South American Getaway Name = The 12 Cellists of The Berlin Philharmonic
Title = Górecki: Symphony No. 3 Name = Adrian Leaper & Doreen de Feis
Title = Purcell: The Fairy Queen Name = Roger Norrington, London Classical Players
Title = The Ultimate Relexation Album Name = Charles Dutoit & L'Orchestre Symphonique de Montréal
Title = Purcell: Music for the Queen Mary Name = Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir
Title = Weill: The Seven Deadly Sins Name = Kent Nagano and Orchestre de l'Opéra de Lyon
Title = J.S. Bach: Chaconne, Suite in E Minor, Partita in E Major & Prelude, Fugue and Allegro Name = Julian Bream
Title = Prokofiev: Symphony No.5 & Stravinksy: Le Sacre Du Printemps Name = Berliner Philharmoniker & Herbert Von Karajan
Title = Szymanowski: Piano Works, Vol. 1 Name = Martin Roscoe
Title = Nielsen: The Six Symphonies Name = Göteborgs Symfoniker & Neeme Järvi
Title = Great Recordings of the Century: Paganini's 24 Caprices Name = Itzhak Perlman
Title = Liszt - 12 Études D'Execution Transcendante Name = Michele Campanella
Title = Great Recordings of the Century - Shubert: Schwanengesang, 4 Lieder Name = Gerald Moore
Title = Locatelli: Concertos for Violin, Strings and Continuo, Vol. 3 Name = Mela Tenenbaum, Pro Musica Prague & Richard Kapp
Title = Respighi:Pines of Rome Name = Eugene Ormandy
Title = Schubert: The Late String Quartets & String Quintet (3 CD's) Name = Emerson String Quartet
Title = Monteverdi: L'Orfeo Name = C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu
Title = Mozart: Chamber Music Name = Nash Ensemble
Title = Koyaanisqatsi (Soundtrack from the Motion Picture) Name = Philip Glass Ensemble